In [1]:
import numpy as np
import pandas as pd
import scipy.io as sio
import os
import pickle

In [2]:
path = r'C:\Users\ankit\Documents\Fall 19\CSE 575 SML\CSE575Brains-master\CSE575Brains-master\brainnetworks\smallgraphs'
path

'C:\\Users\\ankit\\Documents\\Fall 19\\CSE 575 SML\\CSE575Brains-master\\CSE575Brains-master\\brainnetworks\\smallgraphs'

In [3]:
def upper_tri_indexing(A):
    m = A.shape[0]
    r,c = np.triu_indices(m,1)
    return A[r,c]

data_list = []
for r, d, f in os.walk(path):
    for file in f:
        mat_file = sio.loadmat(path + '\\' + file)
        data = mat_file['fibergraph'].todense()
        data = upper_tri_indexing(data)
        data = data.flatten()
        data = data.tolist()
        data[0].append(file[:-10])
        data_list.append(data[0])

In [4]:
len(data_list[0])

2416

In [71]:
#df = pd.DataFrame(data_list)
df = pd.read_csv("csv/all.csv", header = None)
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625
0,3.066076,5.167544,1.903139,1.554004,15.367243,3.309958,3.396778,4.001210,3.510148,2.067513,...,0.013363,0.012280,0.022993,0.011644,0.013448,0.013843,0.007979,0.005705,0.011829,M87102217
1,6.162403,5.269788,2.842595,1.736635,0.000000,5.361531,4.963765,10.587971,5.707378,3.080455,...,0.014551,0.013712,0.017919,0.016717,0.014538,0.017900,0.006585,0.005187,0.009928,M87102806
2,3.736685,4.506151,1.719720,1.472619,0.000000,4.127309,3.879625,4.369334,3.455424,2.197838,...,0.014198,0.014798,0.016363,0.017765,0.009261,0.019688,0.009615,0.005897,0.009332,M87103074
3,5.325775,6.649747,2.557948,1.917735,0.000000,2.921731,5.652566,14.304908,4.618405,2.665779,...,0.011507,0.012635,0.020125,0.013367,0.010415,0.011862,0.006257,0.006565,0.010243,M87105476
4,4.251281,4.185958,1.421919,1.341346,0.000000,2.861858,5.330663,5.033325,4.344720,3.440691,...,0.011723,0.013137,0.019275,0.013748,0.011451,0.015011,0.006941,0.007054,0.009983,M87107085
5,2.779957,2.108634,1.376052,1.334386,0.000000,2.206719,2.932480,3.615100,2.709355,3.358225,...,0.011716,0.013997,0.022946,0.012139,0.014848,0.017428,0.005937,0.005158,0.012071,M87108094
6,8.998466,5.160109,2.043007,2.151104,0.000000,5.995336,13.168512,9.485310,10.910206,3.378593,...,0.016707,0.014500,0.017509,0.017420,0.013636,0.015891,0.008808,0.006337,0.011732,M87111487
7,1.903491,3.411105,1.341091,1.416719,0.000000,2.740057,2.206971,5.906812,1.729880,1.821935,...,0.017954,0.017719,0.022362,0.012711,0.010632,0.014808,0.014475,0.005285,0.016026,M87111924
8,4.848682,6.904626,2.209292,1.669433,11.437030,4.803193,4.368512,5.743265,4.504621,3.265851,...,0.011858,0.011840,0.017594,0.016183,0.012582,0.016341,0.007337,0.006159,0.009433,M87114047
9,3.852667,4.834473,1.915805,1.299708,0.000000,3.622879,3.840138,7.467213,6.115392,2.334464,...,0.014300,0.012666,0.019014,0.014592,0.010097,0.015150,0.013193,0.006407,0.007380,M87114064

In [72]:
meta_data_path = r"C:\Users\ankit\Documents\Fall 19\CSE 575 SML\CSE575Brains-master\CSE575Brains-master\brainnetworks\\metainfo.xls"
meta_data_df = pd.read_excel(meta_data_path)
meta_data_df = meta_data_df.drop(columns = ['Unnamed: 12'])
meta_data_df.head(10)

,URSI,CCI,Sex,Age,Subject_type,FSIQ,CAQ,Neuroticm,Extraversion,Openness,Agreeableness,Conscientiousness
0,M87102217,111.08,0,20,1,123,42.0,20,34,43,30,30
1,M87102806,83.49,0,20,0,108,3.0,11,21,34,17,32
2,M87103074,115.68,1,27,1,136,30.0,5,38,44,41,31
3,M87105476,94.22,0,21,0,98,15.0,17,36,30,37,39
4,M87107085,88.09,0,18,0,121,20.0,19,36,33,31,43
5,M87108094,114.15,0,24,1,134,34.0,21,23,37,41,31
6,M87111487,106.49,1,21,0,121,12.0,9,28,40,25,30
7,M87111924,76.34,1,23,0,91,4.0,8,38,28,37,38
8,M87114047,101.89,0,22,0,116,6.0,8,38,29,38,43
9,M87114064,83.49,1,19,2,112,8.0,14,29,24,26,36

In [73]:
final_df = pd.merge(left=df, right=meta_data_df, left_on = df.shape[1]-1, right_on = 'URSI')
final_df.head()

,0,1,2,3,4,5,6,7,8,9,...,Sex,Age,Subject_type,FSIQ,CAQ,Neuroticm,Extraversion,Openness,Agreeableness,Conscientiousness
0,3.066076,5.167544,1.903139,1.554004,15.367243,3.309958,3.396778,4.001210,3.510148,2.067513,...,0,20,1,123,42.0,20,34,43,30,30
1,6.162403,5.269788,2.842595,1.736635,0.000000,5.361531,4.963765,10.587971,5.707378,3.080455,...,0,20,0,108,3.0,11,21,34,17,32
2,3.736685,4.506151,1.719720,1.472619,0.000000,4.127309,3.879625,4.369334,3.455424,2.197838,...,1,27,1,136,30.0,5,38,44,41,31
3,5.325775,6.649747,2.557948,1.917735,0.000000,2.921731,5.652566,14.304908,4.618405,2.665779,...,0,21,0,98,15.0,17,36,30,37,39
4,4.251281,4.185958,1.421919,1.341346,0.000000,2.861858,5.330663,5.033325,4.344720,3.440691,...,0,18,0,121,20.0,19,36,33,31,43

In [74]:
final_df.to_pickle('Brain_data.pkl')

In [75]:
final_df.shape

(120, 2638)

In [76]:
final_final_df = pd.read_pickle('Brain_data.pkl')
final_final_df.shape

(120, 2638)