In [1]:
import numpy as np
import pandas as pd
import scipy.io as sio
import os
import pickle

In [2]:
path = r'C:\Users\deves\Downloads\CSE575Brains-master\brainnetworks\smallgraphs'
path

'C:\\Users\\deves\\Downloads\\CSE575Brains-master\\brainnetworks\\smallgraphs'

In [3]:
data_list = []
for r, d, f in os.walk(path):
    for file in f:
        mat_file = sio.loadmat(path + '\\' + file)
        data = mat_file['fibergraph'].todense()
        data = data.flatten()
        data = data.tolist()
        data[0].append(file[:-10])
        data_list.append(data[0])

In [4]:
df = pd.DataFrame(data_list)
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,4891,4892,4893,4894,4895,4896,4897,4898,4899,4900
0,0.0,5619.0,1778.0,18057.0,22818.0,13.0,6869.0,2458.0,1334.0,4795.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M87102217
1,0.0,3804.0,1705.0,9629.0,16300.0,0.0,4953.0,1292.0,1317.0,3640.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M87102806
2,0.0,6218.0,2732.0,29416.0,18178.0,0.0,6332.0,4957.0,2955.0,4736.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M87103074
3,0.0,3427.0,1655.0,22824.0,16765.0,0.0,9856.0,1313.0,1989.0,2834.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M87105476
4,0.0,5201.0,2334.0,19707.0,18121.0,0.0,6705.0,2062.0,1406.0,4693.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M87107085
5,0.0,7375.0,4194.0,23373.0,15540.0,0.0,6760.0,2127.0,4766.0,3607.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M87108094
6,0.0,5631.0,3450.0,20415.0,15154.0,0.0,6001.0,1928.0,3024.0,4290.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M87111487
7,0.0,6351.0,429.0,27177.0,10538.0,0.0,7046.0,768.0,2334.0,2795.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M87111924
8,0.0,3996.0,1841.0,17896.0,11353.0,2.0,5752.0,4155.0,1161.0,4147.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M87114047
9,0.0,4758.0,2096.0,22829.0,22309.0,0.0,5010.0,4791.0,1640.0,4029.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M87114064

In [5]:
meta_data_path = r"C:\Users\deves\Downloads\CSE575Brains-master\brainnetworks\metainfo.xls"
meta_data_df = pd.read_excel(meta_data_path)
meta_data_df = meta_data_df.drop(columns = ['Unnamed: 12'])
meta_data_df.head(10)

,URSI,CCI,Sex,Age,Subject_type,FSIQ,CAQ,Neuroticm,Extraversion,Openness,Agreeableness,Conscientiousness
0,M87102217,111.08,0,20,1,123,42.0,20,34,43,30,30
1,M87102806,83.49,0,20,0,108,3.0,11,21,34,17,32
2,M87103074,115.68,1,27,1,136,30.0,5,38,44,41,31
3,M87105476,94.22,0,21,0,98,15.0,17,36,30,37,39
4,M87107085,88.09,0,18,0,121,20.0,19,36,33,31,43
5,M87108094,114.15,0,24,1,134,34.0,21,23,37,41,31
6,M87111487,106.49,1,21,0,121,12.0,9,28,40,25,30
7,M87111924,76.34,1,23,0,91,4.0,8,38,28,37,38
8,M87114047,101.89,0,22,0,116,6.0,8,38,29,38,43
9,M87114064,83.49,1,19,2,112,8.0,14,29,24,26,36

In [6]:
final_df = pd.merge(left=df, right=meta_data_df, left_on = 4900, right_on = 'URSI')
final_df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,Sex,Age,Subject_type,FSIQ,CAQ,Neuroticm,Extraversion,Openness,Agreeableness,Conscientiousness
0,0.0,5619.0,1778.0,18057.0,22818.0,13.0,6869.0,2458.0,1334.0,4795.0,...,0,20,1,123,42.0,20,34,43,30,30
1,0.0,3804.0,1705.0,9629.0,16300.0,0.0,4953.0,1292.0,1317.0,3640.0,...,0,20,0,108,3.0,11,21,34,17,32
2,0.0,6218.0,2732.0,29416.0,18178.0,0.0,6332.0,4957.0,2955.0,4736.0,...,1,27,1,136,30.0,5,38,44,41,31
3,0.0,3427.0,1655.0,22824.0,16765.0,0.0,9856.0,1313.0,1989.0,2834.0,...,0,21,0,98,15.0,17,36,30,37,39
4,0.0,5201.0,2334.0,19707.0,18121.0,0.0,6705.0,2062.0,1406.0,4693.0,...,0,18,0,121,20.0,19,36,33,31,43
5,0.0,7375.0,4194.0,23373.0,15540.0,0.0,6760.0,2127.0,4766.0,3607.0,...,0,24,1,134,34.0,21,23,37,41,31
6,0.0,5631.0,3450.0,20415.0,15154.0,0.0,6001.0,1928.0,3024.0,4290.0,...,1,21,0,121,12.0,9,28,40,25,30
7,0.0,6351.0,429.0,27177.0,10538.0,0.0,7046.0,768.0,2334.0,2795.0,...,1,23,0,91,4.0,8,38,28,37,38
8,0.0,3996.0,1841.0,17896.0,11353.0,2.0,5752.0,4155.0,1161.0,4147.0,...,0,22,0,116,6.0,8,38,29,38,43
9,0.0,4758.0,2096.0,22829.0,22309.0,0.0,5010.0,4791.0,1640.0,4029.0,...,1,19,2,112,8.0,14,29,24,26,36

In [7]:
final_df.to_pickle('Brain_data.pkl')

In [8]:
final_df.shape

(114, 4913)

In [9]:
final_final_df = pd.read_pickle('Brain_data.pkl')
final_final_df.shape

(114, 4913)